*{
    margin: 0;
    padding: 0;
}
#b{
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}
#a{
    border: 3px solid red;
}
#c{
    padding: 10px;
    width: 900px;;
    margin: 30px auto;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
}
.q{
    padding: 10px;
    width: 850px;
    margin: 30px auto;
    background-color: rgb(233, 251, 255);
    border-radius: 10px;
    border: 1px solid black;
}
#fixed{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: blue;
    padding: 10px;
    width: 120px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    border: 1px solid black;
}

.z{
    padding: 30px;
    margin: 20px;
    width: 200px;
    background-color: lightgoldenrodyellow;
    border: 5px solid blue;
}